.commits {
    > div {
       nav {
           display: inline;
           font-size: 32px;
           span {
               font-size: 18px;
           }
       }
    }
    .single-commit {
        .repo-description {
            font-size: 20px;
        }
        .last-modified {
            font-size: 18px;
            font-style: italic;
            color: #aaaaaa;
        }
    }
}