.repo-info {
    > div {
       nav {
           display: inline;
           font-size: 32px;
       }
    }
}

.repo-description {
    font-size: 28px
}
.last-modified {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
}