div div {
    width: 120px;
    height: 50px;
}

div div[data-count='10'], div div[data-count='11'] {
    background-color: #666;
}

div div[data-count='5'], div div[data-count='17'] {
    background-color: #999;
}

div div[data-count='13'] {
    background-color: #ccc;
}