.container {
    width: 900px;
    height: 300px;
}
.item {
    width: 300px;
    height: 300px;
    float: left;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
.purple {
    background: purple;
}