.container {
  display: flex;
  align-items: center;
}

.item {
  align-self: flex-end;
  flex-wrap: nowrap;
  height: 200px;
  width: 200px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}