/* exercise1 */


/* nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
} */


/* exercise2 */


/* @import 'reset';
body {
    font: 100% Helvetica, sans-serif;
    background-color: #efefef;
} */


/* exercise3 */


/* @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    @include border-radius(10px);
} */


/* exercise3 */


/* @import 'partial';
body {
    background-color: $color;
} */


/* @mixin border-width($thickness) {
    border-width: $thickness;
}

img {
    @include border-width(10px);
} */


/* exercise4 */


/* @mixin border-width($thickness) {
    border-width: $thickness;
}

img {
    border-style: solid;
    @include border-width(10px);
} */


/* exercise5 */


/* @mixin border-width($thickness) {
    border-width: $thickness;
}

img {
    @include border-width(10px);
    @extend .solid;
}

.solid {
    border-style: solid;
} */


/* exercise6 */


/* .push-button {
    background-color: blue;
}

.main-button {
    @extend .push-button;
    ft-wt: bold;
} */


/* exercise7 */


/* $page-width: 1400px;
$padding: 20px;

.container {
    background-color: black;
    padding: $padding;
    width: 0.8 * $page-width - 2 * $padding;
} */


/* exercise8 */


/* .red-when-focus {
    color: black;
    &:focus {
        color: red;
    }
} */


/* exercise9 */

$mint: rgb(217, 245, 232);
$teal: rgb(55, 203, 194);
$gold: rgb(255, 187, 51);
$tomato: rgb(255, 99, 71);
$p100: 100%;
@mixin ft-wt($weight) {
    font-weight: $weight;
}

@mixin ft-sz($size) {
    font-size: $size;
}

@mixin bg-color($color) {
    background-color: $color;
}

@mixin mixColor($baseColor) {
    .mixed {
        height: 40px;
        margin: 40px 0;
        position: relative;
        >p {
            position: absolute;
            top: -35px;
            @include ft-sz(14px);
        }
        &:first-child {
            @include bg-color(mix($baseColor, $mint, 35%));
        }
        &:nth-child(2) {
            @include bg-color(mix($baseColor, $teal, 35%));
        }
        &:nth-child(3) {
            @include bg-color(mix($baseColor, $gold, 35%));
        }
        &:nth-child(4) {
            @include bg-color(mix($baseColor, $tomato, 35%));
        }
    }
}

@mixin lightenColor($baseColor) {
    float: left;
    height: 120px;
    width: $p100 / 3;
    &:first-child {
        @include bg-color(lighten($baseColor, 20%));
    }
    &:nth-child(2) {
        @include bg-color($baseColor);
    }
    &:last-child {
        @include bg-color(darken($baseColor, 20%));
    }
}

main {
    width: 1024px;
    margin: 0 auto;
    hr {
        border: 0px;
        border-top: 2px solid #eeeeee;
    }
    >p {
        @include ft-wt(bold);
        @include ft-sz(24px);
        margin: 0;
    }
    section {
        >p {
            @include ft-wt(bold);
        }
        .sub-title {
            @include ft-wt(normal);
        }
        .color-block {
            display: flex;
            justify-content: space-between;
            .color-item {
                width: 24%;
                margin-bottom: 20px;
                .color {
                    height: 120px;
                }
                >p {
                    @include ft-wt(normal);
                }
                .triple-color-mint-base {
                    @include lightenColor($mint);
                }
                .triple-color-teal-base {
                    @include lightenColor($teal);
                }
                .triple-color-gold-base {
                    @include lightenColor($gold);
                }
                .triple-color-tomato-base {
                    @include lightenColor($tomato);
                }
                .mint-base {
                    @include mixColor($mint);
                }
                .teal-base {
                    @include mixColor($teal);
                }
                .gold-base {
                    @include mixColor($gold);
                }
                .tomato-base {
                    @include mixColor($tomato);
                }
                .description {
                    height: 60px;
                    p {
                        margin: 5px 0;
                        height: 16px;
                        line-height: 16px;
                        @include ft-wt(normal);
                        @include ft-sz(12px);
                    }
                }
            }
        }
    }
}

.mint {
    @include bg-color($mint);
}

.teal {
    @include bg-color($teal);
}

.gold {
    @include bg-color($gold);
}

.tomato {
    @include bg-color($tomato);
}

.attribute {
    float: left;
    @include ft-wt(bold);
}

.value {
    float: right;
}