div {
    width: 300px;
    height: 100px;
    margin: 15px 0;
    background: #0E91A1;
    border: 5px solid #7DCE94;
    padding: 20px;
    font-size: 32px;
    color: #005566;
    font-family: Arial, Helvetica, sans-serif;
}